* {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.bomb_item a:-webkit-any-link {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.bomb_item a:hover {
    color: salmon;
}

body {
    font-family: "Chilanka", cursive;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
    line-height: 1.25;
    text-align: left;
    background-color: white;
    color: black;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

.header {
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    vertical-align: center;
    font-family: "Chewy", sans-serif;
    font-size: 2rem;
    padding: 2px 20px;
    color: white;
}

nav a {
    position: relative;
    font-family: "Chewy", sans-serif;
    font-size: 2rem;
    color: white;
    padding: 2px 20px;
    text-decoration: none;
}

nav a:hover {
    color: salmon;
}

nav a:is(:link, :active, :visited).active {
    background-color: salmon;
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url("../images/clouds.jpg") center no-repeat;
    background-size: cover;
}

.intro_inner {
    margin: 0 auto;
}

.name {
    font-size: 10rem;
    text-align: center;
    font-family: "Chewy", sans-serif;
    text-transform: uppercase;
}

.slogan {
    text-align: center;
    word-spacing: 2px;
}

.collection {
    padding: 40px 0;
}

.section_header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
}

.suptitle {
    font-size: 1.6rem;
    word-spacing: 2px;
}

.title {
    font-family: "Chewy", sans-serif;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.bombs {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}

.bomb_item {
    width: 400px;
}

.bomb_image img {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 2px pink;
}

.bomb_name {
    font-family: "Chewy", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.price {
    padding: 40px 0;
    background-color: #fed3dd;
}

.table_inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
}

.table {
    display: grid;
    border-collapse: collapse;
    min-width: 90%;
    margin: auto 5%;
    grid-template-columns: repeat(4, auto);
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: white;
    color: black;
}

thead, tbody, tr {
    display: contents;
}

td, th {
    border: 1px solid #403e3e;
    padding: 10px;
    text-align: center;
}

th {
    font-size: 1.6rem;
    background-color: #d4ffe4;
}

tr:nth-child(even) td {
    background-color: #fffcd4;
}

caption {
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
    margin: 0;
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.contacts_header {
    font-family: "Chewy", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.contact_list {
    list-style-type: none;
    font-size: 1.6rem;
    word-spacing: 2px;
}

.loading_time {
    font-size: 1.25rem;
    text-align: center;
}

/* description pages */

.name_desc {
    font-size: 7rem;
    text-align: center;
    font-family: "Chewy", sans-serif;
    text-transform: uppercase;
    padding-top: 70px;
}

.description {
    margin-left: 50px;
    font-size: 1.6rem;
    text-align: justify;
    vertical-align: center;
}

.text_and_image {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 30px auto;
}

.bomb_image_desc img {
    width: 500px;
    box-shadow: 0 0 5px 2px pink;
}

.info {
    background-color: pink;
    padding: 15px;
}

.info_switch {
    display: none;
}

.info_body {
    max-height: 0;
    overflow: hidden;
    font-size: 1rem;
    text-transform: lowercase;
}

.info_switch:checked~.info_body {
    max-height: 500px;
}

.info_headline {
    cursor: pointer;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0.2em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    color: black;
    background: pink;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: "";
}

.button::before {
    content: attr(data-char);
    font-size: 1em;
}

.button:hover {
    cursor: pointer;
    background-color: black;
    color: white
}

@media only screen
and (max-width: 1000px)
and (min-width: 510px) {
    .nav_link {
        font-size: 1.3rem;
        padding-right: 8px;
    }

    .logo {
        font-size: 1.3rem;
    }

    .slogan {
        font-size: 1.25rem;
    }

    .suptitle {
        font-size: 1.25rem;
    }

    .title {
        font-size: 5rem;
    }

    .contacts_header {
        font-size: 1.6rem;
    }

    table {
        font-size: 1.2rem;
    }

    .th {
        font-size: 1.25rem;
    }
}

@media only screen
and (max-width: 510px) {
    .header_inner {
        display: none;
    }

    .name {
        font-size: 5rem;
    }

    .slogan {
        font-size: 1.5rem;
    }

    .suptitle {
        font-size: 1.1rem;
    }

    .title {
        font-size: 3rem;
    }

    .table {
        font-size: 1.2rem;
    }

    th {
        font-size: 1.2rem;
    }

    .contacts_header {
        font-size: 1.5rem;
    }
}

/* cart */
html {
    overflow-x: hidden;
}

.app-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

.app-bg .left-side {
    background-color: white;
    width: 75%;
    height: 100%;
}

.app-bg .right-side {
    background-color: whitesmoke;
    width: 25%;
    height: 100%;
}

.shopping-bag {
    display: none;
}

.products-list {
    width: 100vw;
    height: 88vh;
    padding-top: 12vh;
    display: flex;
}

.products {
    height: 80%;
    width: 75%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 3fr);
}

.products img {
    width: 180px;
}

.products .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.products .item .item-container {
    width: 250px;
    height: 280px;
    background-color: #000;
    border-radius: 25px;
    position: relative;
    margin-bottom: 75px;
}

.products .item .item-container .item-img {
    width: 250p;
    height: 70%;
    background-color: white;
    border: 1px solid #000;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .item .item-container .desc {
    width: 100%;
    color: white;
    padding-top: 10px;
    text-align: center;
}

.products .item .item-container .add-to-cart {
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.products .item .item-container .add-to-cart img {
    width: 32px;
    height: 32px;
}

.cart {
    height: 100%;
    width: 25%;
    position: relative;
}

.cart-header {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    padding: 1px 0;
}

.cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item .item-info {
    flex: 1;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.cart-item .item-info:hover {
    background-color: salmon;
    cursor: pointer;
}

.cart-item .item-info img {
    width: 75px;
}

.cart-item .item-name {
    padding: 0 10px;
}

.cart-item .unit-price {
    flex: 1;
    font-size: 1.2rem;
}

.cart-item .units {
    flex: 1;
}

.cart-item .units .number {
    margin: 0 10px;
    font-size: 1.2rem;
}

.cart-item .units .btn {
    width: 20px;
    height: 20px;
    background-color: salmon;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.cart-footer {
    width: 100%;
    background-color: salmon;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}

.cart-footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 1.3rem;
}

.cart-footer .subtotal {
    background-color: white;
}

.cart-footer .checkout {
    background-color: salmon;
    cursor: pointer;
}